.blogEntryListRoot {
    background-color: azure;
    display: flex;
    flex-direction: column;

}
.blogEntries {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.filterOptionsWrapper {
    padding-left: 5%;
    padding-top: 5%;
}
.searchAndFilterOptions {
    display: flex;

    background-color: green;
}



