.layoutRoot {
    display: flex;
    width: 100%;
    height: 90%;
    border-radius: 2%;
}

.layoutH1 {
    margin-left: 5%;
}

.navLayout {
    width: 100%;
    height: 100%;
    border: 0.1rem solid black;
    border-radius: 2%;
    margin-right: 2%;
}

.newEntryButton {
    justify-items: flex-end;
    margin-left: 10%;
    margin-right: 20%;
    margin-bottom: 1%;
    margin-top: 1%;
}

.navBar {
    background-color: red;
}
